body {
  height: 100vh;
  margin: 0px;
  font-size: 30px;
}

.header {
  background-color: grey;
  color: black;
  height: 8vh;
  padding: 1vh;
}

.container {
  display: flex;
  height: 78vh;
  flex-wrap: wrap;
  margin: 1vh 0;
  width:auto;
}

.footer {
  background-color: gray;
  color: black;
  height: 8vh;
  padding:1vh;
}

.content-a {
  background-color:lightgreen;
  padding:1vh;
}

.content-b {
  background-color: green;
  padding:1vh;
}

.content-c {
  background-color: yellow;
  padding:1vh;
}

@media screen and  (min-width: 800px) {
  .container{
    flex-direction: row;
  }
  .content-a{
    width:66.66%;
    order:2;
    flex:3;
  }
  .content-b{
    order:1;
    width:33.33%;
    flex:2;
  }
  .content-c {
    width: 33.33%;
    order:3;
    flex:2;
  }
}

@media screen and (max-width: 800px) and (min-width: 480px) {
  .header {
    height: 6vh;
  }

  .footer {
    height: 6vh;
  }

  .container {
    height: 82vh;
  }

  .content-a {
    width: 100%;
    order:1;
  }

  .content-b {
    width: 50%;
    order: 2;
  }

  .content-c {
    flex:1;
    width: 50%;
    order:2;
  }
}



@media screen and (max-width: 480px) {
  .header {
    height: 4vh;
  }

  .footer {
    height: 4vh;
  }
  .container{
    flex-direction: column;
    height:86vh;
  }
  .content-a{
    flex:3;
  }
  .content-b{
    flex:2;
  }
  .content-c {
    flex:2;
  }
}

